*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
main,
body {
  background-image: linear-gradient(to right, #5499C7, #A2D9CE);
  overflow-x: hidden;
}
.logo {
  height: 5rem;
}
.app-name {
  margin: auto 0;
}
.grid-container {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40rem;
  margin-top: -20rem;
  background-color: white;
  display: grid;
  width: 80rem;
  height: 40rem;
  grid-template-columns: minmax(200px, 2fr) minmax(200px, 5fr);
}
.grid-container-image {
  background-image: url(/assets/img/login-hero.jpeg);
  background-size: cover;
}
.login-container {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 2fr 1fr;
  text-align: center;
}
.cell-one {
  align-self: center;
}
.vrepeatContainer #vertical-container {
  height: 100vh;
  width: 100%;
}
.vrepeatContainer .repeated-item-vertical {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 200px;
  padding: 20px ;
}
.vrepeatContainer md-content {
  margin: 16px;
}
.vrepeatContainer md-virtual-repeat-container {
  border: solid 1px white;
}
.login {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80rem;
  height: 40rem;
  margin-top: -15rem;
  /*set to a negative number 1/2 of your height*/
  margin-left: -40rem;
  /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
}
.card-bg {
  background-color: linear-gradient(to right, #5499C7, #A2D9CE);
}
.card {
  width: 300px;
  height: 350px;
}
.min {
  color: skyblue;
  font-size: x-large;
}
.max {
  color: red;
  font-size: x-large;
}
.temp {
  color: black;
  font-size: x-large;
}
.name {
  color: black;
  font-size: xx-large;
}
.center {
  align-items: center;
  justify-content: center;
}
