*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
main,
body {
  background-image: linear-gradient(to right, #5499C7, #A2D9CE);
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
}
.logo {
  height: 5rem;
}
.app-name {
  margin: auto 0;
}
.grid-container {
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  display: grid;
  grid-gap: 50px;
  width: 70vw;
  height: 65vh;
  margin-top: -30vh;
  /*set to a negative number 1/2 of your height*/
  margin-left: -35vw;
  /*set to a negative number 1/2 of your width*/
  grid-template-columns: minmax(200px, 3fr) minmax(200px, 5fr);
}
.grid-container-image {
  border-radius: 0px 25px 25px 0px;
  background-image: url(/assets/img/login-hero2.jpg);
  background-size: cover;
}
.form-status {
  color: red;
  font-size: 0.75em;
}
.form-success {
  color: #2ECC71;
  font-size: 0.75em;
}
.vrepeatContainer #vertical-container {
  height: 70vh;
  width: 100%;
}
.vrepeatContainer .repeated-item-vertical {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 10vw;
  padding: 20px;
}
@media (max-width: 800px) {
  .vrepeatContainer .repeated-item-vertical {
    height: 12vh;
  }
}
.vrepeatContainer md-content {
  margin: 5vw;
}
.vrepeatContainer md-virtual-repeat-container {
  border: solid 1px white;
}
.card {
  width: 300px;
  height: 350px;
}
.card-font {
  font-size: large;
}
.card-img {
  height: 100px;
  width: 100px;
}
.list-font {
  font-size: 1.2vw;
}
@media (max-width: 400px) {
  .list-font {
    font-size: 8vw;
  }
}
.list-img {
  height: 6vw;
  align-self: center;
  justify-self: center;
}
.min {
  color: #24b2eb;
}
.max {
  color: red;
}
.temp {
  color: black;
}
.name {
  color: black;
}
.center {
  align-items: center;
  justify-content: center;
}
.inputdemoErrors .inputErrorsApp {
  min-height: 48px;
}
.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background-color: #2874A6;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
