*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
main,
body {
  background-image: linear-gradient(to right, #5499C7, #A2D9CE);
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
}
.logo {
  height: 5rem;
}
.app-name {
  margin: auto 0;
}
.grid-container {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  display: grid;
  width: 80vw;
  height: 60vh;
  margin-top: -20vh;
  /*set to a negative number 1/2 of your height*/
  margin-left: -40vw;
  /*set to a negative number 1/2 of your width*/
  grid-template-columns: minmax(200px, 3fr) minmax(200px, 5fr);
}
.grid-container-image {
  background-image: url(/assets/img/login-hero.jpeg);
  background-size: cover;
}
.login-container {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 2fr 1fr;
  text-align: center;
}
.cell-one {
  align-self: center;
}
.vrepeatContainer #vertical-container {
  height: 100%;
  width: 100%;
}
.vrepeatContainer .repeated-item-vertical {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 10vw;
  padding: 20px ;
}
.vrepeatContainer md-content {
  margin: 5vw;
}
.vrepeatContainer md-virtual-repeat-container {
  border: solid 1px white;
}
.login {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40rem;
  height: 20rem;
  margin-top: -35vh;
  /*set to a negative number 1/2 of your height*/
  margin-left: -20vw;
  /*set to a negative number 1/2 of your width*/
}
.card-bg {
  background-color: linear-gradient(to right, #5499C7, #A2D9CE);
}
.card {
  width: 300px;
  height: 350px;
}
.card-font {
  font-size: x-large;
}
.card-img {
  height: 100px;
  width: 100px;
}
.list-font {
  font-size: 1.6vw;
}
.list-img {
  height: 6vw;
  align-self: center;
  justify-self: center;
}
.min {
  color: skyblue;
}
.max {
  color: red;
}
.temp {
  color: black;
}
.name {
  color: black;
}
.center {
  align-items: center;
  justify-content: center;
}
.inputdemoErrors .inputErrorsApp {
  min-height: 48px;
}
.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%;
}
