<div class = "vrepeatContainer" ng-controller = "vrepeatController as ctrl"
         ng-cloak>
         <md-content layout = "column">
            <md-virtual-repeat-container id = "vertical-container">
               <div layout="row" layout-align="center center" md-virtual-repeat = "item in ctrl.items"
                  class = "repeated-item-vertical" >
                  <div flex="20" style="background-color: coral; height: inherit;">{{item}} Name</div>
                  <div flex="40" style="height: inherit">Image</div>
                  <div flex="20" style="background-color: coral; height: inherit;">Temperature</div>
                  <div flex="10" style="height: inherit">Min</div>
                  <div flex="10" style="background-color: coral; height: inherit;">Max</div>
                  
               </div>
            </md-virtual-repeat-container>
            
         </md-content>
      </div>