<div ng-cloak="" style="margin: 100px;">

    <div ng-hide="loader" style="text-align: center;">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        
    <div layout="row" layout-align="center center">
        <div>
            <h4>Toggle View &nbsp;</h4>
        </div>
        <div>
            <md-switch ng-model="toggle" aria-label="Switch 1">
            </md-switch>
        </div>
    </div>
    <br>


    <md-grid-list ng-if="!toggle" md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
    md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="20px">

        <md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" ng-repeat="city in myCities">
            
            
            <md-card class="card md-whiteframe-21dp">
                <md-card-content style="height: inherit;" layout="column" layout-align="space-around center">
                    <div ng-controller="DemoCtrl as ctrl" layout="column" ng-cloak>
                        <md-icon ng-click="ctrl.openDialog($event, city.name)" class="md-raised"
                            md-svg-icon="/assets/img/share.svg"></md-icon>
                    </div>
                    <div flex="" class="name card-font">{{city.name}}</div>
                    <img class="card-img" ng-src="/assets/img/weather-icons/{{city.icon}}.png"></img>
                    <div flex="" class="name card-font">{{city.des}}</div>
                    <div flex="" class="temp card-font">{{city.temp}}&#8451;</div>
                    <div style="width: 100%; text-align: center;" flex="" layout="row"
                        layout-align="space-around center">
                        <div flex="" class="min card-font">{{city.min}}&#8451;</div>
                        <div flex="" class="max card-font">{{city.max}}&#8451;</div>
                    </div>

                </md-card-content>

            </md-card>
        </md-grid-tile>

        <md-grid-tile ng-show="loader" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
            <div ng-controller="AddCtrl as ctrl" layout="column" ng-cloak layout-align="space-around center">
                <img ng-click="ctrl.openDialog($event)" style="height: inherit;" ng-src="/assets/img/add.png"></img>
            </div>
        </md-grid-tile>

    </md-grid-list>
    <div ng-if="toggle" class="vrepeatContainer" ng-controller="vrepeatController as ctrl" ng-cloak>
        <md-content layout="column">
            <md-virtual-repeat-container md-auto-shrink id="vertical-container" >
                <div layout="row" layout-align="space-around center" md-virtual-repeat="city in myCities"
                    class="repeated-item-vertical">

                    <div flex="" class="name list-font center">{{city.name}}</div>
                    <div flex="" class="center"><img class="list-img center"
                            ng-src="/assets/img/weather-icons/{{city.icon}}.png"></img></div>
                    <div flex="" class="name list-font center">{{city.des}}</div>
                    <div flex="" class="temp list-font center">{{city.temp}}&#8451;</div>
                    <div flex="" layout = "column">
                    <div flex="" class="min list-font center">Min&nbsp;{{city.min}}&#8451;</div>
                    <div flex="" class="max list-font center">Max&nbsp;{{city.max}}&#8451;</div>
                    </div>
                    <div ng-controller="DemoCtrl as ctrl" layout="column" ng-cloak>
                        <md-icon ng-click="ctrl.openDialog($event, city.name)" class="list-img" md-svg-icon="/assets/img/share.svg">
                        </md-icon>
                    </div>

                </div>
    </div>
    </md-virtual-repeat-container>

    </md-content>
</div>

</div>
