<div class="wrapper">
  <div class="grid-container">
    <div class="login-container">
      <div class="cell-one">
        <h2 ng-hide="signup">Login Here!</h2>
      </div>
      <div>
        <div class="form-group">
          <h3>User Id</h3>
          <input style="width: 15rem; margin-left: 3rem;" type="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <h3>Password</h3>
          <input style="width: 15rem; margin-left: 3rem;" type="password" class="form-control"
            id="exampleInputPassword1" placeholder="Password">
        </div>
        <div>
          <h6>New to Weather App? <a href="#!/register" style="color: blue;">Sign Up</a> </h6>
        </div>
      </div>
      <div>
        <a href="#" style="padding: 20px 50px" class="btn btn-primary">Login</a>
      </div>
    </div>
    <div class="grid-container-image">

    </div>
  </div>
</div>
