<div class="wrapper">
  <div class="grid-container">
    <div class="login-container">
      <div class="cell-one">
        <h2 ng-hide="signup">Login Here!</h2>
      </div>
      <div>
        <div>
            <md-input-container class="md-block" flex-gt-sm>
              <label>E-mail</label>
              <input ng-model="email">
            </md-input-container>
        </div>
        <div>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Password</label>
              <input ng-model="password">
            </md-input-container>
        </div>
        <div>
          <h6>New to Weather App? <a href="#!/register" style="color: blue;">Sign Up</a> </h6>
        </div>
      </div>
      <div>
        <md-button class="md-raised md-primary" ng-click="loginUser(email, password); vm.setServiceSession()">Login</md-button>
      </div>
      <pre>{{vm.model | json}}</pre>
    </div>
    <div class="grid-container-image">

    </div>
  </div>
</div>
