<div class="wrapper">
  <div class="grid-container">
    <div class="login-container">
      <div class="cell-one">
        <h2>Sign Up Here!</h2>
      </div>
      <div>
        <div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>First Name</label>
            <input ng-model="fname">
          </md-input-container>
        </div>
        <div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input ng-model="lname">
          </md-input-container>
        </div>
        <div>
            <md-input-container class="md-block" flex-gt-sm>
              <label>E-mail</label>
              <input ng-model="eid">
            </md-input-container>
        </div>
        <div>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Password</label>
              <input ng-model="pwd">
            </md-input-container>
        </div>
      </div>
      <div>
       <a href="#/"> <md-button class="md-raised md-primary" ng-click="adduser(fname, lname, eid, pwd)">Sign Up</md-button></a>
      </div>
    </div>
    <div class="grid-container-image">

    </div>
  </div>
</div>