<div ng-cloak="" style="margin: 100px;">

  <div layout="row" layout-align="center center" >
    <div><h4>Toggle To Change View &nbsp;</h4></div>
    <div>
<md-switch ng-model="toggle" aria-label="Switch 1">
</md-switch>
</div>
</div>
<br>
<br>

  <md-grid-list ng-if="!toggle" md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height-gt-md="1:1"
      md-row-height="2:2" md-gutter="30px" md-gutter-gt-sm="80px">

      <md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" ng-repeat="city in sharedCities">
        <md-card style="width: 100%;height: inherit;">
            <md-card-content style="height: inherit;" layout="column" layout-align="space-between center">
                <div flex="15" class="name">{{city.name}}</div>
                <img ng-src="/assets/img/weather-icons/{{city.icon}}.png"></img>
                <div flex="25" class="temp">Temperature<br>{{city.temp}}</div>
                <div flex="15" layout="row" layout-align="center center">
                  <div flex="40" class="min">{{city.min}}</div>
                  <div flex="20"></div>
                  <div flex="40" class="max">{{city.max}}</div>
              </div>

        </md-card-content>

        </md-card>
    </md-grid-tile>

  </md-grid-list>

  <div ng-if="toggle" class = "vrepeatContainer" ng-controller = "vrepeatController as ctrl"
         ng-cloak>
         <md-content layout = "column">
            <md-virtual-repeat-container md-auto-shrink id = "vertical-container">
               <div layout="row" layout-align="space-between center" md-virtual-repeat = "city in sharedCities"
                  class = "repeated-item-vertical" >
                  <div flex="20" class="name center"><h2>{{city.name}}</h2></div>
                 <div flex="40" class="center"><img ng-src="/assets/img/weather-icons/{{city.icon}}.png"></img></div> 
                  <div flex="20" class="temp center">{{city.temp}}</div>
                  <div flex="10" class="min center">Min&nbsp;{{city.min}}</div>
                  <div flex="10" class="max center">Max&nbsp;{{city.max}}</div>
                  
               </div></div>
            </md-virtual-repeat-container>
            
         </md-content>
      </div>

</div>